vsphere_server = "172.16.1.5"
vsphere_user = "administrator@vsphere.local"
#vsphere_password = "set as env var TF_VAR_vsphere_password"
#terraform_password = "set as env var TF_VAR_terraform_password"
vsphere_datacenter = "dc1"
vsphere_datastore = "Primary"
vsphere_compute_cluster = "cluster1"
vsphere_network = "network1"
domain = "xyz.com"
environment = "dev"
vm_template = "ubuntu1604_template"
dtr_storage_host = "172.16.1.10"
